*.idea
*.iml
*.test
*.target
service/service_oss/src/main/resources/application.properties

#Compiledclassfile
*.class


#Logfile
*.log

*.

#PackageFiles#
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

common/common_utils/src/test/
common/common_utils/target/generated-sources/

common/service_base/src/test/
common/service_base/target/generated-sources/

common/spring_security/src/test/
common/spring_security/target/generated-sources/
infrastructure/api_gateway/src/test/
infrastructure/api_gateway/target/generated-sources/
service/service_acl/target/generated-sources/
service/service_acl/target/generated-test-sources/
service/service_cms/target/generated-sources/
service/service_cms/target/generated-test-sources/
service/service_edu/target/generated-sources/
service/service_edu/target/generated-test-sources/
service/service_msm/src/test/
service/service_msm/target/generated-sources/
service/service_order/target/generated-sources/
service/service_order/target/generated-test-sources/
service/service_order/target/test-classes/
service/service_oss/target/generated-sources/
service/service_oss/target/generated-test-sources/
service/service_oss/target/test-classes/
service/service_statistics/target/generated-sources/
service/service_statistics/target/generated-test-sources/
service/service_statistics/target/test-classes/
service/service_ucenter/target/generated-sources/
service/service_ucenter/target/generated-test-sources/
service/service_vod/target/generated-sources/
service/service_vod/target/generated-test-sources/
service/service_vod/target/test-classes/
